In [89]:
# import pandas library 
import pandas as pd

In [161]:
#iris = sns.load_dataset('iris')
#iris.head()

In [157]:
df = pd.read_csv('C:\\Datasets-master\\datasets_nobel_laureate.csv')

In [23]:
# To get complete information about the data/dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  921 non-null    float64
 1   Category              921 non-null    object
 2   Prize                 911 non-null    object
 3   Motivation            823 non-null    object
 4   Prize Share           911 non-null    object
 5   Laureate ID           911 non-null    float64
 6   Laureate Type         921 non-null    object
 7   Full Name             921 non-null    object
 8   Birth Date            964 non-null    object
 9   Birth Year            960 non-null    object
 10  Age                   615 non-null    float64
 11  Birth City            941 non-null    object
 12  Birth Country         943 non-null    object
 13  Sex                   943 non-null    object
 14  Organization Name     722 non-null    object
 15  Organization City     716 non-null    object
 16  Organization Country  716 non-null    object
 17  Death Date            617 non-null    object
 18  Death Year            617 non-null    float64
 19  Death City            599 non-null    object
 20  Death Country         605 non-null    object
dtypes: float64(4), object(17)
memory usage: 160.7+ KB

In [90]:
# To get number of rows count quickly
len(df)

979

In [91]:
# And to get all the column names
df.columns

Index(['Year', 'Category', 'Prize', 'Motivation', 'Prize Share', 'Laureate ID',
       'Laureate Type', 'Full Name', 'Birth Date', 'Birth Year', 'Age',
       'Birth City', 'Birth Country', 'Sex', 'Organization Name',
       'Organization City', 'Organization Country', 'Death Date', 'Death Year',
       'Death City', 'Death Country'],
      dtype='object')

In [92]:
# But if you want to check the number of columns
len(df.columns)

21

In [44]:
# to check dataset statistics
df.describe()

              Year  Laureate ID         Age   Death Year
count   921.000000   911.000000  615.000000   617.000000
mean   1969.720955   462.515917   81.860163  1978.711507
std      33.032943   270.236159   10.437808    39.059035
min    1901.000000     1.000000   39.000000  1595.000000
25%    1946.000000   228.500000   75.000000  1958.000000
50%    1975.000000   457.000000   83.000000  1984.000000
75%    1998.000000   698.500000   90.000000  2003.000000
max    2017.000000   937.000000  103.000000  2460.000000

In [25]:
# to get top 5 rows
df.head()

# or we can mention the number of rows want to see
# df.head(20)  for Top 10 rows

# and to check the last 5 rows
# df.tail()

,Year,Category,Prize,Motivation,Prize Share,Laureate ID,Laureate Type,Full Name,Birth Date,Birth Year,...,Birth City,Birth Country,Sex,Organization Name,Organization City,Organization Country,Death Date,Death Year,Death City,Death Country
0,1901.0,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services he has rendered by the discovery of the ...",01-Jan,160.0,Individual,Jacobus Henricus van 't Hoff,30-08-1852,1852,...,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,01-03-1911,1915.0,Berlin,Germany
1,1901.0,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composition, which gives evidence of lofty ideal...",01-Jan,569.0,Individual,Sully Prudhomme,16-03-1839,1839,...,Paris,France,Male,NaN,NaN,NaN,07-09-1907,1911.0,ChÃ¢tenay,France
2,1901.0,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its application against diphtheria, by whic...",01-Jan,293.0,Individual,Emil Adolf von Behring,15-03-1854,1854,...,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,31-03-1917,1921.0,Marburg,Germany
3,1901.0,Peace,The Nobel Peace Prize 1901,NaN,01-Feb,462.0,Individual,Jean Henry Dunant,08-05-1828,1828,...,Geneva,Switzerland,Male,NaN,NaN,NaN,30-10-1910,1914.0,Heiden,Switzerland
4,1901.0,Peace,The Nobel Peace Prize 1901,NaN,01-Feb,463.0,Individual,FrÃ©dÃ©ric Passy,20-05-1822,1822,...,Paris,France,Male,NaN,NaN,NaN,12-06-1912,1916.0,Paris,France

In [94]:
# To get get few rows
df[2:6]

# starting from 2nd row till 6th row

,Year,Category,Prize,Motivation,Prize Share,Laureate ID,Laureate Type,Full Name,Birth Date,Birth Year,...,Birth City,Birth Country,Sex,Organization Name,Organization City,Organization Country,Death Date,Death Year,Death City,Death Country
2,1901.0,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its application against diphtheria, by whic...",01-Jan,293.0,Individual,Emil Adolf von Behring,15-03-1854,1854,...,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,31-03-1917,1921.0,Marburg,Germany
3,1901.0,Peace,The Nobel Peace Prize 1901,NaN,01-Feb,462.0,Individual,Jean Henry Dunant,08-05-1828,1828,...,Geneva,Switzerland,Male,NaN,NaN,NaN,30-10-1910,1914.0,Heiden,Switzerland
4,1901.0,Peace,The Nobel Peace Prize 1901,NaN,01-Feb,463.0,Individual,FrÃ©dÃ©ric Passy,20-05-1822,1822,...,Paris,France,Male,NaN,NaN,NaN,12-06-1912,1916.0,Paris,France
5,1901.0,Physics,The Nobel Prize in Physics 1901,"""in recognition of the extraordinary services he has rendered by the discovery of the ...",01-Jan,1.0,Individual,Wilhelm Conrad RÃ¶ntgen,27-03-1845,1845,...,Lennep (Remscheid),Prussia (Germany),Male,Munich University,Munich,Germany,10-02-1923,1927.0,Munich,Germany

In [162]:
# And if you want to get all entire rows

df[:]

,Year,Category,Prize,Motivation,Prize Share,Laureate ID,Laureate Type,Full Name,Birth Date,Birth Year,...,Birth City,Birth Country,Sex,Organization Name,Organization City,Organization Country,Death Date,Death Year,Death City,Death Country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services he has rendered by the discovery of the ...",02-Jan,160,Individual,Jacobus Henricus van 't Hoff,30-08-1852,1852,...,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,02-03-1915,1915.0,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composition, which gives evidence of lofty ideal...",02-Jan,569,Individual,Sully Prudhomme,16-03-1839,1839,...,Paris,France,Male,NaN,NaN,NaN,08-09-1911,1911.0,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its application against diphtheria, by whic...",02-Jan,293,Individual,Emil Adolf von Behring,15-03-1854,1854,...,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,01-04-1921,1921.0,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,02-Feb,462,Individual,Jean Henry Dunant,08-05-1828,1828,...,Geneva,Switzerland,Male,NaN,NaN,NaN,31-10-1914,1914.0,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,02-Feb,463,Individual,Frédéric Passy,20-05-1822,1822,...,Paris,France,Male,NaN,NaN,NaN,13-06-1916,1916.0,Paris,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
964,2016,Medicine,The Nobel Prize in Physiology or Medicine 2016,"""for his discoveries of mechanisms for autophagy""",02-Jan,927,Individual,Yoshinori Ohsumi,10-02-1949,1949,...,Fukuoka,Japan,Male,Tokyo Institute of Technology,Tokyo,Japan,NaN,NaN,NaN,NaN
965,2016,Peace,The Nobel Peace Prize 2016,"""for his resolute efforts to bring the country's more than 50-year-long civil war to a...",02-Jan,934,Individual,Juan Manuel Santos,11-08-1955,1955,...,Bogotá,Colombia,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
966,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological phase transitions and topological phases o...",02-Feb,928,Individual,David J. Thouless,22-09-1938,1938,...,Bearsden,United Kingdom,Male,University of Washington,"Seattle, WA",United States of America,NaN,NaN,NaN,NaN
967,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological phase transitions and topological phases o...",02-Apr,929,Individual,F. Duncan M. Haldane,15-09-1955,1955,...,London,United Kingdom,Male,Princeton University,"Princeton, NJ",United States of America,NaN,NaN,NaN,NaN
968,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological phase transitions and topological phases o...",02-Apr,930,Individual,J. Michael Kosterlitz,23-06-1947,1947,...,Aberdeen,United Kingdom,Male,Brown University,"Providence, RI",United States of America,NaN,NaN,NaN,NaN

In [26]:
# to get every 10th record of a dataframe

every_10 = df[::10]
every_10.head()

,Year,Category,Prize,Motivation,Prize Share,Laureate ID,Laureate Type,Full Name,Birth Date,Birth Year,...,Birth City,Birth Country,Sex,Organization Name,Organization City,Organization Country,Death Date,Death Year,Death City,Death Country
0,1901.0,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services he has rendered by the discovery of the ...",01-Jan,160.0,Individual,Jacobus Henricus van 't Hoff,30-08-1852,1852,...,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,01-03-1911,1915.0,Berlin,Germany
10,1902.0,Peace,The Nobel Peace Prize 1902,NaN,01-Feb,465.0,Individual,Charles Albert Gobat,21-05-1843,1843,...,Tramelan,Switzerland,Male,NaN,NaN,NaN,16-03-1914,1918.0,Bern,Switzerland
20,1904.0,Chemistry,The Nobel Prize in Chemistry 1904,"""in recognition of his services in the discovery of the inert gaseous elements in air,...",01-Jan,163.0,Individual,Sir William Ramsay,02-10-1852,1852,...,Glasgow,Scotland,Male,University College,London,United Kingdom,23-07-1916,1920.0,High Wycombe,United Kingdom
30,1905.0,Physics,The Nobel Prize in Physics 1905,"""for his work on cathode rays""",01-Jan,9.0,Individual,Philipp Eduard Anton von Lenard,07-06-1862,1862,...,Pressburg (Bratislava),Hungary (Slovakia),Male,Kiel University,Kiel,Germany,20-05-1947,1951.0,Messelhausen,Germany
40,1907.0,Peace,The Nobel Peace Prize 1907,NaN,01-Feb,471.0,Individual,Ernesto Teodoro Moneta,20-09-1833,1833,...,Milan,Austrian Empire (Italy),Male,NaN,NaN,NaN,10-02-1918,1922.0,Milan,Italy

In [155]:
# To get the dataset in reverse order
df[::-1]

,Year,Category,Prize,Motivation,Prize Share,Laureate ID,Laureate Type,Full Name,Birth Date,Birth Year,...,Birth City,Birth Country,Sex,Organization Name,Organization City,Organization Country,Death Date,Death Year,Death City,Death Country
968,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological phase transitions and topological phases o...",02-Apr,930,Individual,J. Michael Kosterlitz,23-06-1947,1947,...,Aberdeen,United Kingdom,Male,Brown University,"Providence, RI",United States of America,NaN,NaN,NaN,NaN
967,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological phase transitions and topological phases o...",02-Apr,929,Individual,F. Duncan M. Haldane,15-09-1955,1955,...,London,United Kingdom,Male,Princeton University,"Princeton, NJ",United States of America,NaN,NaN,NaN,NaN
966,2016,Physics,The Nobel Prize in Physics 2016,"""for theoretical discoveries of topological phase transitions and topological phases o...",02-Feb,928,Individual,David J. Thouless,22-09-1938,1938,...,Bearsden,United Kingdom,Male,University of Washington,"Seattle, WA",United States of America,NaN,NaN,NaN,NaN
965,2016,Peace,The Nobel Peace Prize 2016,"""for his resolute efforts to bring the country's more than 50-year-long civil war to a...",02-Jan,934,Individual,Juan Manuel Santos,11-08-1955,1955,...,Bogotá,Colombia,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
964,2016,Medicine,The Nobel Prize in Physiology or Medicine 2016,"""for his discoveries of mechanisms for autophagy""",02-Jan,927,Individual,Yoshinori Ohsumi,10-02-1949,1949,...,Fukuoka,Japan,Male,Tokyo Institute of Technology,Tokyo,Japan,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,1901,Peace,The Nobel Peace Prize 1901,NaN,02-Feb,463,Individual,Frédéric Passy,20-05-1822,1822,...,Paris,France,Male,NaN,NaN,NaN,13-06-1916,1916.0,Paris,France
3,1901,Peace,The Nobel Peace Prize 1901,NaN,02-Feb,462,Individual,Jean Henry Dunant,08-05-1828,1828,...,Geneva,Switzerland,Male,NaN,NaN,NaN,31-10-1914,1914.0,Heiden,Switzerland
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its application against diphtheria, by whic...",02-Jan,293,Individual,Emil Adolf von Behring,15-03-1854,1854,...,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,01-04-1921,1921.0,Marburg,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composition, which gives evidence of lofty ideal...",02-Jan,569,Individual,Sully Prudhomme,16-03-1839,1839,...,Paris,France,Male,NaN,NaN,NaN,08-09-1911,1911.0,Châtenay,France
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services he has rendered by the discovery of the ...",02-Jan,160,Individual,Jacobus Henricus van 't Hoff,30-08-1852,1852,...,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,02-03-1915,1915.0,Berlin,Germany

In [101]:
# Another way to get every 10th row
df[::10].head()

,Year,Category,Prize,Motivation,Prize Share,Laureate ID,Laureate Type,Full Name,Birth Date,Birth Year,...,Birth City,Birth Country,Sex,Organization Name,Organization City,Organization Country,Death Date,Death Year,Death City,Death Country
0,1901.0,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services he has rendered by the discovery of the ...",01-Jan,160.0,Individual,Jacobus Henricus van 't Hoff,30-08-1852,1852,...,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,01-03-1911,1915.0,Berlin,Germany
10,1902.0,Peace,The Nobel Peace Prize 1902,NaN,01-Feb,465.0,Individual,Charles Albert Gobat,21-05-1843,1843,...,Tramelan,Switzerland,Male,NaN,NaN,NaN,16-03-1914,1918.0,Bern,Switzerland
20,1904.0,Chemistry,The Nobel Prize in Chemistry 1904,"""in recognition of his services in the discovery of the inert gaseous elements in air,...",01-Jan,163.0,Individual,Sir William Ramsay,02-10-1852,1852,...,Glasgow,Scotland,Male,University College,London,United Kingdom,23-07-1916,1920.0,High Wycombe,United Kingdom
30,1905.0,Physics,The Nobel Prize in Physics 1905,"""for his work on cathode rays""",01-Jan,9.0,Individual,Philipp Eduard Anton von Lenard,07-06-1862,1862,...,Pressburg (Bratislava),Hungary (Slovakia),Male,Kiel University,Kiel,Germany,20-05-1947,1951.0,Messelhausen,Germany
40,1907.0,Peace,The Nobel Peace Prize 1907,NaN,01-Feb,471.0,Individual,Ernesto Teodoro Moneta,20-09-1833,1833,...,Milan,Austrian Empire (Italy),Male,NaN,NaN,NaN,10-02-1918,1922.0,Milan,Italy

In [158]:
# To get the any particular column
df['Category']

0       Chemistry
1      Literature
2        Medicine
3           Peace
4           Peace
          ...
964      Medicine
965         Peace
966       Physics
967       Physics
968       Physics
Name: Category, Length: 969, dtype: object

In [104]:
# And to get multiple columns
df[['Category','Year']].head()

     Category    Year
0   Chemistry  1901.0
1  Literature  1901.0
2    Medicine  1901.0
3       Peace  1901.0
4       Peace  1901.0

In [107]:
# To combine particular rows and columns
df[8:12][['Category','Sex']]

    Category   Sex
8   Medicine  Male
9      Peace  Male
10     Peace  Male
11   Physics  Male

In [110]:
# To subset a dataframe with particular columns and rows
df[['Category','Year','Birth Country']][4:8]

     Category    Year        Birth Country
4       Peace  1901.0               France
5     Physics  1901.0    Prussia (Germany)
6   Chemistry  1902.0    Prussia (Germany)
7  Literature  1902.0  Schleswig (Germany)

In [119]:
# Mathematical operations
#result = df.'Death Year' - df.'Birth Year'

In [ ]:
# Add a column to a dataframe
#df['Age'] = df.'Death Year' - df.'Birth Year'

In [27]:
# to get a particular item from a DataFrame

df.iat[3,4]

'01-Feb'

In [32]:
# another way to get a particualr item from dataframe

df.at[10,'Laureate ID']

465.0

In [35]:
df.at[2,'Motivation']

'"for his work on serum therapy, especially its application against diphtheria, by which he has opened a new road in the domain of medical science and thereby placed in the hands of the physician a victorious weapon against illness and deaths"'

In [36]:
# To filter rows from a dataframe for single row instance

df1 = df[df['Birth Country'] == 'Switzerland']

In [40]:
df1.tail()

,Year,Category,Prize,Motivation,Prize Share,Laureate ID,Laureate Type,Full Name,Birth Date,Birth Year,...,Birth City,Birth Country,Sex,Organization Name,Organization City,Organization Country,Death Date,Death Year,Death City,Death Country
600,1989.0,Physics,The Nobel Prize in Physics 1989,"""for the development of the ion trap technique""",01-Apr,136.0,Individual,Hans G. Dehmelt,20-04-1927,1931,...,Basel,Switzerland,Male,IBM Zurich Research Laboratory,RÃ¼schlikon,Switzerland,NaN,NaN,NaN,NaN
635,1993.0,Peace,The Nobel Peace Prize 1993,"""for their work for the peaceful termination of the apartheid regime, and for laying t...",01-Feb,556.0,Individual,Frederik Willem de Klerk,14-08-1933,1937,...,Winterthur,Switzerland,Male,EidgenÃ¶ssische Technische Hochschule (Swiss Federal Institute of Technology),Zurich,Switzerland,NaN,NaN,NaN,NaN
692,1998.0,Medicine,The Nobel Prize in Physiology or Medicine 1998,"""for their discoveries concerning nitric oxide as a signalling molecule in the cardiov...",01-Mar,459.0,Individual,Louis J. Ignarro,06-01-1944,1948,...,Basel,Switzerland,Male,"University of Zurich, Institute of Experimental Immunology",Zurich,Switzerland,NaN,NaN,NaN,NaN
761,2004.0,Economics,The Sveriges Riksbank Prize in Economic Sciences 2004,"""for their contributions to dynamic macroeconomics: the time consistency of economic p...",01-Feb,786.0,Individual,Finn E. Kydland,04-10-1938,1942,...,Aarberg,Switzerland,Male,EidgenÃ¶ssische Technische Hochschule (Swiss Federal Institute of Technology),Zurich,Switzerland,NaN,NaN,NaN,NaN
762,2004.0,Economics,The Sveriges Riksbank Prize in Economic Sciences 2004,"""for their contributions to dynamic macroeconomics: the time consistency of economic p...",01-Feb,787.0,Individual,Edward C. Prescott,04-10-1938,1942,...,Aarberg,Switzerland,Male,The Scripps Research Institute,"La Jolla, CA",United States of America,NaN,NaN,NaN,NaN

In [42]:
# To filter multiple row instances from particular column

df2 = df[df['Category'].isin(['Peace', 'Medicine', 'Economics'])]

In [43]:
df2.head()

,Year,Category,Prize,Motivation,Prize Share,Laureate ID,Laureate Type,Full Name,Birth Date,Birth Year,...,Birth City,Birth Country,Sex,Organization Name,Organization City,Organization Country,Death Date,Death Year,Death City,Death Country
2,1901.0,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its application against diphtheria, by whic...",01-Jan,293.0,Individual,Emil Adolf von Behring,15-03-1854,1854,...,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,31-03-1917,1921.0,Marburg,Germany
3,1901.0,Peace,The Nobel Peace Prize 1901,NaN,01-Feb,462.0,Individual,Jean Henry Dunant,08-05-1828,1828,...,Geneva,Switzerland,Male,NaN,NaN,NaN,30-10-1910,1914.0,Heiden,Switzerland
4,1901.0,Peace,The Nobel Peace Prize 1901,NaN,01-Feb,463.0,Individual,FrÃ©dÃ©ric Passy,20-05-1822,1822,...,Paris,France,Male,NaN,NaN,NaN,12-06-1912,1916.0,Paris,France
8,1902.0,Medicine,The Nobel Prize in Physiology or Medicine 1902,"""for his work on malaria, by which he has shown how it enters the organism and thereby...",01-Jan,294.0,Individual,Ronald Ross,13-05-1857,1857,...,Almora,India,Male,University College,Liverpool,United Kingdom,16-09-1932,1936.0,Putney Heath,United Kingdom
9,1902.0,Peace,The Nobel Peace Prize 1902,NaN,01-Feb,464.0,Individual,Ã‰lie Ducommun,19-02-1833,1833,...,Geneva,Switzerland,Male,NaN,NaN,NaN,07-12-1906,1910.0,Bern,Switzerland

In [52]:
# To get sum of values of a dataframe
df.sum()

Year           1814113.0
Laureate ID     421352.0
Age              50344.0
Death Year     1220865.0
dtype: float64

In [53]:
# to get lowest values of a dataframe

df.min()

Year           1901.0
Laureate ID       1.0
Age              39.0
Death Year     1595.0
dtype: float64

In [54]:
# to get highest value of a dataframe
df.max()

Year           2017.0
Laureate ID     937.0
Age             103.0
Death Year     2460.0
dtype: float64

In [55]:
# to get average value of a dataframe

df.mean()

Year           1969.720955
Laureate ID     462.515917
Age              81.860163
Death Year     1978.711507
dtype: float64

In [71]:
# To get median values

df.median()

Year           1975.0
Laureate ID     457.0
Age              83.0
Death Year     1984.0
dtype: float64

In [68]:
# to get a unique entries of a column

df3 = df(['Laureate ID','size'])

TypeError: 'DataFrame' object is not callable

In [65]:
df.columns

Index(['Year', 'Category', 'Prize', 'Motivation', 'Prize Share', 'Laureate ID',
       'Laureate Type', 'Full Name', 'Birth Date', 'Birth Year', 'Age',
       'Birth City', 'Birth Country', 'Sex', 'Organization Name',
       'Organization City', 'Organization Country', 'Death Date', 'Death Year',
       'Death City', 'Death Country'],
      dtype='object')

In [69]:
# To get corelation between columns
df.corr()

                 Year  Laureate ID       Age  Death Year
Year         1.000000     0.579784  0.171547    0.699629
Laureate ID  0.579784     1.000000  0.077974    0.220071
Age          0.171547     0.077974  1.000000    0.360688
Death Year   0.699629     0.220071  0.360688    1.000000

In [76]:
# To sort dataframe

df.sort_values(by=['Category'], ascending = False)

,Year,Category,Prize,Motivation,Prize Share,Laureate ID,Laureate Type,Full Name,Birth Date,Birth Year,...,Birth City,Birth Country,Sex,Organization Name,Organization City,Organization Country,Death Date,Death Year,Death City,Death Country
460,1975.0,Physics,The Nobel Prize in Physics 1975,"""for the discovery of the connection between collective motion and particle motion in ...",01-Mar,102.0,Individual,Aage Niels Bohr,06-05-1904,1908,...,JÃ¤mshÃ¶g,Sweden,Male,NaN,NaN,NaN,11-02-1978,1982.0,Stockholm,Sweden
314,1958.0,Physics,The Nobel Prize in Physics 1958,"""for the discovery and the interpretation of the Cherenkov effect""",01-Mar,721.0,Individual,IlÂ´ja Mikhailovich Frank,02-10-1907,1911,...,Glasgow,Scotland,Male,University of Cambridge,Cambridge,United Kingdom,10-01-1997,2001.0,Cambridge,United Kingdom
312,1958.0,Physics,The Nobel Prize in Physics 1958,"""for the discovery and the interpretation of the Cherenkov effect""",01-Mar,70.0,Individual,Pavel Alekseyevich Cherenkov,23-05-1908,1912,...,"Madison, WI",United States of America,Male,University of Illinois,"Urbana, IL",United States of America,30-01-1991,1995.0,"Boston, MA",United States of America
744,2002.0,Physics,The Nobel Prize in Physics 2002,"""for pioneering contributions to astrophysics, in particular for the detection of cosm...",01-Apr,753.0,Individual,Raymond Davis Jr.,01-06-1917,1921,...,"Taunton, MA",United States of America,Male,NaN,"St. Louis, MO",United States of America,13-06-2012,2016.0,"Chesterfield, MO",United States of America
305,1957.0,Physics,The Nobel Prize in Physics 1957,"""for their penetrating investigation of the so-called parity laws which has led to imp...",01-Feb,69.0,Individual,Tsung-Dao (T.D.) Lee,03-04-1896,1896,...,Saratov,Russia,Male,Institute for Chemical Physics of the Academy of Sciences of the USSR,Moscow,Union of Soviet Socialist Republics,25-09-1986,1990.0,Moscow,Union of Soviet Socialist Republics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
# To filter data based on column name

df[df['Category'] == ("Peace")]

,Year,Category,Prize,Motivation,Prize Share,Laureate ID,Laureate Type,Full Name,Birth Date,Birth Year,...,Birth City,Birth Country,Sex,Organization Name,Organization City,Organization Country,Death Date,Death Year,Death City,Death Country
3,1901,Peace,The Nobel Peace Prize 1901,NaN,02-Feb,462,Individual,Jean Henry Dunant,08-05-1828,1828,...,Geneva,Switzerland,Male,NaN,NaN,NaN,31-10-1914,1914.0,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,02-Feb,463,Individual,Frédéric Passy,20-05-1822,1822,...,Paris,France,Male,NaN,NaN,NaN,13-06-1916,1916.0,Paris,France
9,1902,Peace,The Nobel Peace Prize 1902,NaN,02-Feb,464,Individual,Élie Ducommun,19-02-1833,1833,...,Geneva,Switzerland,Male,NaN,NaN,NaN,08-12-1910,1910.0,Bern,Switzerland
10,1902,Peace,The Nobel Peace Prize 1902,NaN,02-Feb,465,Individual,Charles Albert Gobat,21-05-1843,1843,...,Tramelan,Switzerland,Male,NaN,NaN,NaN,17-03-1918,1918.0,Bern,Switzerland
16,1903,Peace,The Nobel Peace Prize 1903,NaN,02-Jan,466,Individual,William Randal Cremer,18-03-1828,1828,...,Fareham,United Kingdom,Male,NaN,NaN,NaN,23-07-1912,1912.0,London,United Kingdom
24,1904,Peace,The Nobel Peace Prize 1904,NaN,02-Jan,467,Organization,Institut de droit international (Institute of International Law),-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1905,Peace,The Nobel Peace Prize 1905,NaN,02-Jan,468,Individual,"Baroness Bertha Sophie Felicita von Suttner, née Countess Kinsky von Chinic und Tettau",09-06-1843,1843,...,Prague,Austrian Empire (Czech Republic),Female,NaN,NaN,NaN,22-06-1918,1918.0,Vienna,Austria
35,1906,Peace,The Nobel Peace Prize 1906,NaN,02-Jan,470,Individual,Theodore Roosevelt,27-10-1858,1858,...,"New York, NY",United States of America,Male,NaN,NaN,NaN,07-01-1923,1923.0,"Oyster Bay, NY",United States of America
40,1907,Peace,The Nobel Peace Prize 1907,NaN,02-Feb,471,Individual,Ernesto Teodoro Moneta,20-09-1833,1833,...,Milan,Austrian Empire (Italy),Male,NaN,NaN,NaN,11-02-1922,1922.0,Milan,Italy
41,1907,Peace,The Nobel Peace Prize 1907,NaN,02-Feb,472,Individual,Louis Renault,21-05-1843,1843,...,Autun,France,Male,Sorbonne University,Paris,France,09-02-1922,1922.0,Barbizon,France
48,1908,Peace,The Nobel Peace Prize 1908,NaN,02-Feb,473,Individual,Klas Pontus Arnoldson,27-10-1844,1844,...,Gothenburg,Sweden,Male,NaN,NaN,NaN,21-02-1920,1920.0,Stockholm,Sweden
49,1908,Peace,The Nobel Peace Prize 1908,NaN,02-Feb,474,Individual,Fredrik Bajer,21-04-1837,1837,...,Næstved,Denmark,Male,NaN,NaN,NaN,23-01-1926,1926.0,Copenhagen,Denmark
54,1909,Peace,The Nobel Peace Prize 1909,NaN,02-Feb,475,Individual,Auguste Marie François Beernaert,26-07-1829,1829,...,Ostend,Belgium,Male,NaN,NaN,NaN,07-10-1916,1916.0,Lucerne,Switzerland
55,1909,Peace,The Nobel Peace Prize 1909,NaN,02-Feb,476,Individual,"Paul Henri Benjamin Balluet d'Estournelles de Constant, Baron de Constant de Rebecque",22-11-1852,1852,...,La Flèche,France,Male,NaN,NaN,NaN,16-05-1928,1928.0,Paris,France
61,1910,Peace,The Nobel Peace Prize 1910,NaN,02-Jan,477,Organization,Bureau international permanent de la Paix (Permanent International Peace Bureau),-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,1911,Peace,The Nobel Peace Prize 1911,NaN,02-Feb,478,Individual,Tobias Michael Carel Asser,28-04-1838,1838,...,Amsterdam,Netherlands,Male,NaN,NaN,NaN,30-07-1917,1917.0,the Hague,Netherlands
67,1911,Peace,The Nobel Peace Prize 1911,NaN,02-Feb,479,Individual,Alfred Hermann Fried,11-11-1864,1864,...,Vienna,Austria,Male,NaN,NaN,NaN,06-05-1925,1925.0,Vienna,Austria
73,1912,Peace,The Nobel Peace Prize 1912,NaN,02-Jan,480,Individual,Elihu Root,15-02-1845,1845,...,"Clinton, NY",United States of America,Male,NaN,NaN,NaN,08-02-1941,1941.0,"New York, NY",United States of America
78,1913,Peace,The Nobel Peace Prize 1913,NaN,02-Jan,481,Individual,Henri La Fontaine,22-04-1854,1854,...,Brussels,Belgium,Male,NaN,NaN,NaN,15-05-1947,1947.0,Brussels,Belgium
90,1917,Peace,The Nobel Peace Prize 1917,NaN,02-Jan,482,Organization,Comité international de la Croix Rouge (International Committee of the Red Cross),-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,1919,Peace,The Nobel Peace Prize 1919,NaN,02-Jan,483,Individual,Thomas Woodrow Wilson,28-12-1856,1856,...,"Staunton, VA",United States of America,Male,NaN,NaN,NaN,04-02-1928,1928.0,"Washington, DC",United States of America
101,1920,Peace,The Nobel Peace Prize 1920,NaN,02-Jan,484,Individual,Léon Victor Auguste Bourgeois,21-05-1851,1851,...,Paris,France,Male,NaN,NaN,NaN,30-09-1929,1929.0,Épernay,France
105,1921,Peace,The Nobel Peace Prize 1921,NaN,02-Feb,485,Individual,Karl Hjalmar Branting,23-11-1860,1860,...,Stockholm,Sweden,Male,NaN,NaN,NaN,25-02-1929,1929.0,Stockholm,Sweden
106,1921,Peace,The Nobel Peace Prize 1921,NaN,02-Feb,486,Individual,Christian Lous Lange,17-09-1869,1869,...,Stavanger,Norway,Male,NaN,NaN,NaN,12-12-1942,1942.0,Oslo,Norway
112,1922,Peace,The Nobel Peace Prize 1922,NaN,02-Jan,487,Individual,Fridtjof Nansen,10-10-1861,1861,...,Kristiania (Oslo),Norway,Male,NaN,NaN,NaN,14-05-1934,1934.0,Oslo,Norway
124,1925,Peace,The Nobel Peace Prize 1925,NaN,02-Feb,488,Individual,Sir Austen Chamberlain,16-10-1863,1863,...,Birmingham,United Kingdom,Male,NaN,NaN,NaN,17-03-1941,1941.0,London,United Kingdom
125,1925,Peace,The Nobel Peace Prize 1925,NaN,02-Feb,489,Individual,Charles Gates Dawes,27-08-1865,1865,...,"Marietta, OH",United States of America,Male,NaN,NaN,NaN,24-04-1955,1955.0,"Evanston, IL",United States of America
131,1926,Peace,The Nobel Peace Prize 1926,NaN,02-Feb,490,Individual,Aristide Briand,28-03-1862,1862,...,Nantes,France,Male,NaN,NaN,NaN,08-03-1936,1936.0,Paris,France
132,1926,Peace,The Nobel Peace Prize 1926,NaN,02-Feb,491,Individual,Gustav Stresemann,10-05-1878,1878,...,Berlin,Germany,Male,NaN,NaN,NaN,04-10-1933,1933.0,Berlin,Germany
137,1927,Peace,The Nobel Peace Prize 1927,NaN,02-Feb,492,Individual,Ferdinand Buisson,20-12-1841,1841,...,Paris,France,Male,NaN,NaN,NaN,17-02-1936,1936.0,Thieuloy-Saint-Antoine,France
138,1927,Peace,The Nobel Peace Prize 1927,NaN,02-Feb,493,Individual,Ludwig Quidde,23-03-1858,1858,...,Bremen,Germany,Male,NaN,NaN,NaN,05-03-1945,1945.0,Geneva,Switzerland
150,1929,Peace,The Nobel Peace Prize 1929,NaN,02-Jan,494,Individual,Frank Billings Kellogg,22-12-1856,1856,...,"Potsdam, NY",United States of America,Male,NaN,NaN,NaN,22-12-1941,1941.0,"St. Paul, MN",United States of America
155,1930,Peace,The Nobel Peace Prize 1930,NaN,02-Jan,495,Individual,Lars Olof Jonathan (Nathan) Söderblom,15-01-1866,1866,...,Trönö,Sweden,Male,NaN,NaN,NaN,13-07-1935,1935.0,Uppsala,Sweden
163,1931,Peace,The Nobel Peace Prize 1931,NaN,02-Feb,496,Individual,Jane Addams,06-09-1860,1860,...,"Cedarville, IL",United States of America,Female,NaN,NaN,NaN,22-05-1939,1939.0,"Chicago, IL",United States of America
164,1931,Peace,The Nobel Peace Prize 1931,NaN,02-Feb,497,Individual,Nicholas Murray Butler,02-04-1862,1862,...,"Elizabeth, NJ",United States of America,Male,Columbia University,"New York, NY",United States of America,08-12-1951,1951.0,"New York, NY",United States of America
172,1933,Peace,The Nobel Peace Prize 1933,NaN,02-Jan,498,Individual,Sir Norman Angell (Ralph Lane),26-12-1872,1872,...,Holbeach,United Kingdom,Male,NaN,NaN,NaN,08-10-1971,1971.0,Croydon,United Kingdom
181,1934,Peace,The Nobel Peace Prize 1934,NaN,02-Jan,499,Individual,Arthur Henderson,13-09-1863,1863,...,Glasgow,Scotland,Male,NaN,NaN,NaN,21-10-1939,1939.0,London,United Kingdom
185,1935,Peace,The Nobel Peace Prize 1935,NaN,02-Jan,500,Individual,Carl von Ossietzky,03-10-1889,1889,...,Hamburg,Germany,Male,NaN,NaN,NaN,05-05-1942,1942.0,Berlin,Germany
192,1936,Peace,The Nobel Peace Prize 1936,NaN,02-Jan,501,Individual,Carlos Saavedra Lamas,01-11-1878,1878,...,Buenos Aires,Argentina,Male,NaN,NaN,NaN,06-05-1963,1963.0,Buenos Aires,Argentina
199,1937,Peace,The Nobel Peace Prize 1937,NaN,02-Jan,502,Individual,"Cecil of Chelwood, Viscount (Lord Edgar Algernon Robert Gascoyne Cecil)",14-09-1864,1864,...,London,United Kingdom,Male,NaN,NaN,NaN,25-11-1962,1962.0,Tunbridge Wells,United Kingdom
206,1938,Peace,The Nobel Peace Prize 1938,NaN,02-Jan,503,Organization,Office international Nansen pour les Réfugiés (Nansen International Office for Refugees),-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,1944,Peace,The Nobel Peace Prize 1944,NaN,02-Jan,482,Organization,Comité international de la Croix Rouge (International Committee of the Red Cross),-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,1945,Peace,The Nobel Peace Prize 1945,NaN,02-Jan,505,Individual,Cordell Hull,02-10-1871,1871,...,"Olympus, TN",United States of America,Male,NaN,NaN,NaN,24-07-1959,1959.0,"Bethesda, MD",United States of America
236,1946,Peace,The Nobel Peace Prize 1946,NaN,02-Feb,506,Individual,Emily Greene Balch,08-01-1867,1867,...,"Jamaica Plain, MA (Boston)",United States of America,Female,NaN,NaN,NaN,10-01-1965,1965.0,"Cambridge, MA",United States of America
237,1946,Peace,The Nobel Peace Prize 1946,NaN,02-Feb,507,Individual,John Raleigh Mott,25-05-1865,1865,...,"Livingston Manor, NY",United States of America,Male,NaN,NaN,NaN,01-02-1959,1959.0,NaN,United States of America
244,1947,Peace,The Nobel Peace Prize 1947,NaN,02-Feb,508,Organization,Friends Service Council (The Quakers),-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,1947,Peace,The Nobel Peace Prize 1947,NaN,02-Feb,509,Organization,American Friends Service Committee (The Quakers),-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,1949,Peace,The Nobel Peace Prize 1949,NaN,02-Jan,510,Individual,Lord (John) Boyd Orr of Brechin,23-09-1880,1880,...,Kilmaurs,Scotland,Male,NaN,NaN,NaN,26-06-1975,1975.0,Edzell,Scotland
265,1950,Peace,The Nobel Peace Prize 1950,NaN,02-Jan,511,Individual,Ralph Bunche,08-08-1908,1908,...,"Detroit, MI",United States of America,Male,Harvard University,"Cambridge, MA",United States of America,10-12-1975,1975.0,"New York, NY",United States of America
271,1951,Peace,The Nobel Peace Prize 1951,NaN,02-Jan,512,Individual,Léon Jouhaux,01-07-1879,1879,...,Paris,France,Male,NaN,NaN,NaN,29-04-1958,1958.0,Paris,France
278,1952,Peace,The Nobel Peace Prize 1952,NaN,02-Jan,513,Individual,Albert Schweitzer,14-01-1875,1875,...,Kaysersberg,Germany (France),Male,NaN,NaN,NaN,05-09-1969,1969.0,Lambaréné,Gabon
287,1953,Peace,The Nobel Peace Prize 1953,NaN,02-Jan,514,Individual,George Catlett Marshall,31-12-1880,1880,...,"Uniontown, PA",United States of America,Male,NaN,NaN,NaN,17-10-1963,1963.0,"Washington, DC",United States of America
295,1954,Peace,The Nobel Peace Prize 1954,NaN,02-Jan,515,Organization,Office of the United Nations High Commissioner for Refugees (UNHCR),-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
317,1957,Peace,The Nobel Peace Prize 1957,NaN,02-Jan,516,Individual,Lester Bowles Pearson,23-04-1897,1897,...,Toronto,Canada,Male,NaN,NaN,NaN,28-12-1976,1976.0,Ottawa,Canada
325,1958,Peace,The Nobel Peace Prize 1958,NaN,02-Jan,517,Individual,Georges Pire,11-02-1914,1914,...,Dinant,Belgium,Male,NaN,NaN,NaN,31-01-1973,1973.0,Leuven,Belgium
335,1959,Peace,The Nobel Peace Prize 1959,NaN,02-Jan,518,Individual,Philip J. Noel-Baker,01-11-1889,1889,...,London,United Kingdom,Male,NaN,NaN,NaN,09-10-1986,1986.0,London,United Kingdom
342,1960,Peace,The Nobel Peace Prize 1960,NaN,02-Jan,519,Individual,Albert John Lutuli,00-00-1898,1898,...,Bulawayo,Southern Rhodesia (Zimbabwe),Male,NaN,NaN,NaN,22-07-1971,1971.0,Stanger,South Africa
347,1961,Peace,The Nobel Peace Prize 1961,NaN,02-Jan,520,Individual,Dag Hjalmar Agne Carl Hammarskjöld,30-07-1909,1909,...,Jönköping,Sweden,Male,NaN,NaN,NaN,19-09-1965,1965.0,Ndola,Northern Rhodesia (Zambia)
357,1962,Peace,The Nobel Peace Prize 1962,NaN,02-Jan,217,Individual,Linus Carl Pauling,01-03-1905,1905,...,"Portland, OR",United States of America,Male,California Institute of Technology (Caltech),"Pasadena, CA",United States of America,20-08-1998,1998.0,"Big Sur, CA",United States of America
365,1963,Peace,The Nobel Peace Prize 1963,NaN,02-Feb,482,Organization,Comité international de la Croix Rouge (International Committee of the Red Cross),-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,1963,Peace,The Nobel Peace Prize 1963,NaN,02-Feb,523,Organization,Ligue des Sociétés de la Croix-Rouge (League of Red Cross Societies),-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,1964,Peace,The Nobel Peace Prize 1964,NaN,02-Jan,524,Individual,Martin Luther King Jr.,16-01-1933,1933,...,"Atlanta, GA",United States of America,Male,NaN,NaN,NaN,05-04-1972,1972.0,"Memphis, TN",United States of America
383,1965,Peace,The Nobel Peace Prize 1965,NaN,02-Jan,525,Organization,United Nations Children's Fund (UNICEF),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
406,1968,Peace,The Nobel Peace Prize 1968,NaN,02-Jan,526,Individual,René Cassin,05-10-1887,1887,...,Bayonne,France,Male,NaN,NaN,NaN,21-02-1980,1980.0,Paris,France
416,1969,Peace,The Nobel Peace Prize 1969,NaN,02-Jan,527,Organization,International Labour Organization (I.L.O.),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,1970,Peace,The Nobel Peace Prize 1970,NaN,02-Jan,528,Individual,Norman E. Borlaug,26-03-1918,1918,...,"Cresco, IA",United States of America,Male,NaN,NaN,NaN,13-09-2013,2013.0,"Dallas, TX",United States of America
431,1971,Peace,The Nobel Peace Prize 1971,NaN,02-Jan,529,Individual,Willy Brandt,19-12-1917,1917,...,Lübeck,Germany,Male,NaN,NaN,NaN,09-10-1996,1996.0,Unkel,Germany
451,1973,Peace,The Nobel Peace Prize 1973,NaN,02-Feb,530,Individual,Henry A. Kissinger,28-05-1927,1927,...,Fürth,Germany,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
452,1973,Peace,The Nobel Peace Prize 1973,NaN,02-Feb,531,Organization,Le Duc Tho,15-10-1915,1915,...,Nam Ha province,Vietnam,Male,NaN,NaN,NaN,14-10-1994,1994.0,Hanoi,Vietnam
465,1974,Peace,The Nobel Peace Prize 1974,NaN,02-Feb,532,Individual,Seán MacBride,27-01-1908,1908,...,Paris,France,Male,NaN,NaN,NaN,16-01-1992,1992.0,Dublin,Ireland
466,1974,Peace,The Nobel Peace Prize 1974,NaN,02-Feb,533,Individual,Eisaku Sato,28-03-1905,1905,...,Tabuse,Japan,Male,NaN,NaN,NaN,04-06-1979,1979.0,Tokyo,Japan
477,1975,Peace,The Nobel Peace Prize 1975,NaN,02-Jan,534,Individual,Andrei Dmitrievich Sakharov,22-05-1925,1925,...,Moscow,Russia,Male,NaN,NaN,NaN,15-12-1993,1993.0,Moscow,Union of Soviet Socialist Republics (Russia)
486,1976,Peace,The Nobel Peace Prize 1976,NaN,02-Feb,535,Individual,Betty Williams,23-05-1947,1947,...,Belfast,Northern Ireland,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,1976,Peace,The Nobel Peace Prize 1976,NaN,02-Feb,536,Individual,Mairead Corrigan,28-01-1948,1948,...,Belfast,Northern Ireland,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,1977,Peace,The Nobel Peace Prize 1977,NaN,02-Jan,537,Organization,Amnesty International,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
508,1978,Peace,The Nobel Peace Prize 1978,NaN,02-Feb,538,Individual,Mohamed Anwar al-Sadat,26-12-1922,1922,...,Mit Abu al-Kawm,Egypt,Male,NaN,NaN,NaN,07-10-1985,1985.0,Cairo,Egypt
509,1978,Peace,The Nobel Peace Prize 1978,NaN,02-Feb,539,Individual,Menachem Begin,17-08-1917,1917,...,Brest Litovsk,Russian Empire (Belarus),Male,NaN,NaN,NaN,10-03-1996,1996.0,Tel Aviv,Israel
520,1979,Peace,The Nobel Peace Prize 1979,NaN,02-Jan,540,Organization,Mother Teresa,27-08-1914,1914,...,Uskup (Skopje),Ottoman Empire (Republic of Macedonia),Female,NaN,NaN,NaN,06-09-2001,2001.0,Calcutta,India
533,1980,Peace,The Nobel Peace Prize 1980,NaN,02-Jan,541,Individual,Adolfo Pérez Esquivel,27-11-1935,1935,...,Buenos Aires,Argentina,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,1981,Peace,The Nobel Peace Prize 1981,NaN,02-Jan,515,Organization,Office of the United Nations High Commissioner for Refugees (UNHCR),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,1982,Peace,The Nobel Peace Prize 1982,NaN,02-Feb,543,Individual,Alva Myrdal,01-02-1906,1906,...,Uppsala,Sweden,Female,NaN,NaN,NaN,02-02-1990,1990.0,Stockholm,Sweden
554,1982,Peace,The Nobel Peace Prize 1982,NaN,02-Feb,544,Individual,Alfonso García Robles,21-03-1915,1915,...,Zamora,Mexico,Male,NaN,NaN,NaN,03-09-1995,1995.0,Mexico City,Mexico
560,1983,Peace,The Nobel Peace Prize 1983,NaN,02-Jan,545,Individual,Lech Walesa,30-09-1947,1947,...,Popowo,Poland,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,1984,Peace,The Nobel Peace Prize 1984,NaN,02-Jan,546,Individual,Desmond Mpilo Tutu,08-10-1935,1935,...,Klerksdorp,South Africa,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,1985,Peace,The Nobel Peace Prize 1985,NaN,02-Jan,547,Organization,International Physicians for the Prevention of Nuclear War,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587,1986,Peace,The Nobel Peace Prize 1986,NaN,02-Jan,548,Individual,Elie Wiesel,01-10-1932,1932,...,Sighet,Romania,Male,NaN,NaN,NaN,03-07-2020,2020.0,"New York, NY",United States of America
598,1987,Peace,The Nobel Peace Prize 1987,"""for his work for peace in Central America, efforts which led to the accord signed in ...",02-Jan,549,Individual,Oscar Arias Sánchez,14-09-1945,1945,...,Heredia,Costa Rica,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,1988,Peace,The Nobel Peace Prize 1988,NaN,02-Jan,550,Organization,United Nations Peacekeeping Forces,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620,1989,Peace,The Nobel Peace Prize 1989,NaN,02-Jan,551,Organization,The 14th Dalai Lama (Tenzin Gyatso),07-07-1939,1939,...,Taktser,Tibet (People's Republic of China),Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631,1990,Peace,The Nobel Peace Prize 1990,"""for his leading role in the peace process which today characterizes important parts o...",02-Jan,552,Individual,Mikhail Sergeyevich Gorbachev,03-03-1935,1935,...,Privolnoye,Union of Soviet Socialist Republics (Russia),Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640,1991,Peace,The Nobel Peace Prize 1991,"""for her non-violent struggle for democracy and human rights""",02-Jan,553,Organization,Aung San Suu Kyi,20-06-1949,1949,...,Rangoon (Yangon),Burma (Myanmar),Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,1992,Peace,The Nobel Peace Prize 1992,"""in recognition of her work for social justice and ethno-cultural reconciliation based...",02-Jan,554,Individual,Rigoberta Menchú Tum,10-01-1963,1963,...,Aldea Chimel,Guatemala,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657,1993,Peace,The Nobel Peace Prize 1993,"""for their work for the peaceful termination of the apartheid regime, and for laying t...",02-Feb,555,Individual,Nelson Mandela,19-07-1922,1922,...,Qunu,South Africa,Male,NaN,NaN,NaN,06-12-2017,2017.0,Johannesburg,South Africa
658,1993,Peace,The Nobel Peace Prize 1993,"""for their work for the peaceful termination of the apartheid regime, and for laying t...",02-Feb,556,Individual,Frederik Willem de Klerk,19-03-1940,1940,...,Johannesburg,South Africa,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,1994,Peace,The Nobel Peace Prize 1994,"""for their efforts to create peace in the Middle East""",02-Mar,557,Individual,Yasser Arafat,25-08-1933,1933,...,Cairo,Egypt,Male,NaN,NaN,NaN,12-11-2008,2008.0,NaN,NaN
669,1994,Peace,The Nobel Peace Prize 1994,"""for their efforts to create peace in the Middle East""",02-Mar,558,Individual,Shimon Peres,17-08-1927,1927,...,Vishneva,Poland (Belarus),Male,NaN,NaN,NaN,29-09-2020,2020.0,Tel Aviv,Israel
670,1994,Peace,The Nobel Peace Prize 1994,"""for their efforts to create peace in the Middle East""",02-Mar,559,Individual,Yitzhak Rabin,02-03-1926,1926,...,Jerusalem,British Mandate of Palestine (Israel),Male,NaN,NaN,NaN,05-11-1999,1999.0,Tel Aviv,Israel
681,1995,Peace,The Nobel Peace Prize 1995,"""for their efforts to diminish the part played by nuclear arms in international politi...",02-Feb,560,Individual,Joseph Rotblat,05-11-1912,1912,...,Warsaw,Russian Empire (Poland),Male,NaN,NaN,NaN,01-09-2009,2009.0,London,United Kingdom
682,1995,Peace,The Nobel Peace Prize 1995,"""for their efforts to diminish the part played by nuclear arms in international politi...",02-Feb,561,Organization,Pugwash Conferences on Science and World Affairs,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
# To select the first of the Category column
df.loc[12],['Category']

(Year                                                                                                         1902
 Category                                                                                                  Physics
 Prize                                                                             The Nobel Prize in Physics 1902
 Motivation              "in recognition of the extraordinary service they rendered by their researches into th...
 Prize Share                                                                                                01-Feb
 Laureate ID                                                                                                     3
 Laureate Type                                                                                          Individual
 Full Name                                                                                           Pieter Zeeman
 Birth Date                                                                                             25-05-1865
 Birth Year                                                                                                   1865
 Age                                                                                                            82
 Birth City                                                                                             Zonnemaire
 Birth Country                                                                                         Netherlands
 Sex                                                                                                          Male
 Organization Name                                                                            Amsterdam University
 Organization City                                                                                       Amsterdam
 Organization Country                                                                                  Netherlands
 Death Date                                                                                             09-10-1943
 Death Year                                                                                                   1947
 Death City                                                                                              Amsterdam
 Death Country                                                                                         Netherlands
 Name: 12, dtype: object,
 ['Category'])

In [150]:
# Or check column data type by another way 
df.BirthYear.dtype

dtype('float64')

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  921 non-null    float64
 1   Category              921 non-null    object
 2   Prize                 911 non-null    object
 3   Motivation            823 non-null    object
 4   Prize Share           911 non-null    object
 5   Laureate ID           911 non-null    float64
 6   Laureate Type         921 non-null    object
 7   Full Name             921 non-null    object
 8   Birth Date            964 non-null    object
 9   BirthYear             940 non-null    float64
 10  Age                   617 non-null    float64
 11  Birth City            941 non-null    object
 12  Birth Country         943 non-null    object
 13  Sex                   943 non-null    object
 14  Organization Name     722 non-null    object
 15  Organization City     716 non-null    object
 16  Organization Country  716 non-null    object
 17  Death Date            617 non-null    object
 18  DeathYear             617 non-null    float64
 19  Death City            599 non-null    object
 20  Death Country         605 non-null    object
dtypes: float64(5), object(16)
memory usage: 160.7+ KB

In [124]:
# First Rename the column as below
df.rename(columns = {'Birth Year':'BirthYear'}, inplace = True)

In [123]:
df.rename(columns = {'Death Year':'DeathYear'}, inplace = True)

In [136]:
# now check the data type
df.BirthYear.dtype

dtype('float64')

In [135]:
# Convert the Object type to float
df['BirthYear'] = pd.to_numeric(df['BirthYear'], errors='coerce')

In [137]:
# Mathematical operations
result = df.DeathYear - df.BirthYear

In [139]:
# Add a column to a dataframe
df['Age'] = df.DeathYear - df.BirthYear

In [141]:
# New Age column added to the dataframe
df.columns

Index(['Year', 'Category', 'Prize', 'Motivation', 'Prize Share', 'Laureate ID',
       'Laureate Type', 'Full Name', 'Birth Date', 'BirthYear', 'Age',
       'Birth City', 'Birth Country', 'Sex', 'Organization Name',
       'Organization City', 'Organization Country', 'Death Date', 'DeathYear',
       'Death City', 'Death Country'],
      dtype='object')

In [146]:
df['Age'].head()

0    63.0
1    72.0
2    67.0
3    86.0
4    94.0
Name: Age, dtype: float64

In [147]:
df.head()

,Year,Category,Prize,Motivation,Prize Share,Laureate ID,Laureate Type,Full Name,Birth Date,BirthYear,...,Birth City,Birth Country,Sex,Organization Name,Organization City,Organization Country,Death Date,DeathYear,Death City,Death Country
0,1901.0,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services he has rendered by the discovery of the ...",01-Jan,160.0,Individual,Jacobus Henricus van 't Hoff,30-08-1852,1852.0,...,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,01-03-1911,1915.0,Berlin,Germany
1,1901.0,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composition, which gives evidence of lofty ideal...",01-Jan,569.0,Individual,Sully Prudhomme,16-03-1839,1839.0,...,Paris,France,Male,NaN,NaN,NaN,07-09-1907,1911.0,ChÃ¢tenay,France
2,1901.0,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its application against diphtheria, by whic...",01-Jan,293.0,Individual,Emil Adolf von Behring,15-03-1854,1854.0,...,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,31-03-1917,1921.0,Marburg,Germany
3,1901.0,Peace,The Nobel Peace Prize 1901,NaN,01-Feb,462.0,Individual,Jean Henry Dunant,08-05-1828,1828.0,...,Geneva,Switzerland,Male,NaN,NaN,NaN,30-10-1910,1914.0,Heiden,Switzerland
4,1901.0,Peace,The Nobel Peace Prize 1901,NaN,01-Feb,463.0,Individual,FrÃ©dÃ©ric Passy,20-05-1822,1822.0,...,Paris,France,Male,NaN,NaN,NaN,12-06-1912,1916.0,Paris,France

In [149]:
df[['Category','Year','Full Name','Age']].head()

     Category    Year                     Full Name   Age
0   Chemistry  1901.0  Jacobus Henricus van 't Hoff  63.0
1  Literature  1901.0               Sully Prudhomme  72.0
2    Medicine  1901.0        Emil Adolf von Behring  67.0
3       Peace  1901.0             Jean Henry Dunant  86.0
4       Peace  1901.0              FrÃ©dÃ©ric Passy  94.0